{%  extends 'base.html.twig' %}
{% block title %}
    SELECT PART
{% endblock %}
{% block body %}
    {{ include('includes/navbar.html.twig') }}
    <br>
    <br>
    <br>

        <h4>Piese pentru {{ manufacturer.name }} {{ model.name }}:</h4>
    <br>
        <h5> <a href="{{ url('models') }}">Inapoi la modele</a></h5>
        <table align="center">
            {% for part in parts %}
                <tr>
                    <td width="200">
                        <a href="{{ url('part',{"id":part.id}) }}">{{ part.name | capitalize}}</a>
                    </td>
                    <td>
                        <a href="{{ url('part',{"id":part.id}) }}">
                            <img src="../images/{{part.image }}" height="100" width="150">
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>


    {{ include('includes/footer.html.twig') }}
{% endblock %}