{%  extends 'base.html.twig' %}
{% block title %}
    SELECT PART
{% endblock %}
{% block body %}
   {{ include('includes/navbar.html.twig') }}
   <br>
   <br>
   <br>
   <h5> <a href="http://localhost/auto_amara/web/app_dev.php/manufacturers/">Inapoi la piese</a></h5>
   <br>
   <br>
    <div align="center">
        <table align="center" border="1">
            <tr>
                <th width="150" align="center">Denumire</th>
                <th width="150" align="center">Producator</th>
                <th width="150" align="center">Descriere</th>
                <th width="150" align="center">Pret (lei cu TVA)</th>
                <th width="150" align="center">Imagine</th>
            </tr>
            <tr>
                <td width="150" align="center">{{ part.name|capitalize }}</td>
                <td width="150" align="center">{{ part.manufacturer.name|capitalize }}</td>
                <td width="150" align="center">{{ part.description|capitalize }}</td>
                <td width="150" align="center">{{ part.price|capitalize }}</td>
                <td width="150" align="center"><img src="../../images/{{part.image }}" height="100" width="150"></td>
            </tr>
        </table>
        <br>
        {{ form_start(formCart) }}
        {{ form_widget(formCart) }}
        {{ form_end(formCart) }}

    </div>
    {{ include('includes/footer.html.twig') }}


{% endblock %}