{% trans_default_domain 'FOSUserBundle' %}
{% block body %}
    {{ include('includes/navbar.html.twig') }}
    <br>
    <br>
    <br>
    <div class="fos_user_user_show">
        <p><b>{{ 'profile.show.username'|trans }}:</b><i> {{ user.username }}</i></p>
        <p><b>{{ 'profile.show.email'|trans }}:</b><i> {{ user.email }}</i></p>
    </div>
    {{ include('includes/footer.html.twig') }}
{% endblock %}



