{% extends 'base.html.twig' %}
{% block title %}
    Elementele comenzii
{% endblock %}
{% block body %}
    {{ include('includes/navbar.html.twig') }}
    <br>
    <br>
    <br>
    <div style="margin-left: 10px">
    <h5> Comanda a fost inregistrata cu succes </h5>
    <br>
    Piesele adaugate in comanda sunt:
    <ul id="navigation">
        {% if array.message is defined %}
            <h3 style="color: red">{{ message }}</h3>
        {% else %}
            {% for orderItem in order.OrderItems %}
                <li>Ati adaugat {{ orderItem.part.name }}.. X ..{{ orderItem.price }} lei---- {{ orderItem.quantity }} -
                    buc
                </li>

            {% endfor %}
        {% endif %}

    </ul>
    <h6 style="color: red">Suma totala de plata este: {{ order.cart.totalPrice }} lei</h6>
    <h5> Formular de livrare </h5>
    </div>
    <div style="margin-left: 20px">
        <table>
            <tr>
                <th>
                    Nume
                </th>
                <td style="width: 500px" height="50">
                    {{ delivery.name }}
                </td>

            </tr>
            <tr>
                <th>
                    Prenume
                </th>
                <td style="width: 500px" height="50">
                    {{ delivery.surname }}
                </td>
            </tr>
            <tr>
                <th>
                    Adresa
                </th>
                <td style="width: 500px" height="50">
                    {{ delivery.address }}
                </td>
            </tr>
            <tr>
                <th>
                    Telefon
                </th>
                <td style="width: 500px" height="50">
                    {{ delivery.telephone }}
                </td>
            </tr>
        </table>
        <table>
            <tr>
                <td>

                    <form action="{{ url('showInvoice',{ "orderId":order.id, "action":"I"}) }}">
                        <input name="viewInvoice" type="submit" value="Vizualizare factura" >
                    </form>
                </td>
                <td>
                    <form action="{{ url('showInvoice',{ "orderId":order.id, "action":"D"}) }}">
                        <input name="viewInvoice" type="submit" value="Descarca factura" >
                    </form>
                </td>
            </tr>
        </table>

        <h6><a href="{{ url('manufacturers') }}">Inapoi la producatori</a></h6>
        {{ include('includes/footer.html.twig') }}
    </div>

{% endblock %}

