{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
    {{ include('includes/navbar.html.twig') }}
    <br>
    <br>
    <br>
    {{ include('@FOSUser/Security/login_content.html.twig') }}
    {{ include('includes/footer.html.twig') }}
{% endblock fos_user_content %}
