<nav class="navbar fixed-top navbar-expand-lg navbar-dark" style="background-color: #00BFFF">

    <a class="navbar-brand"  href="/auto_amara/web/app_dev.php/manufacturers"> <i class="fas fa-home"></i> <b>AUTO AMARA SHOP</b></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown nav-item active">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="far fa-user"></i>
                    <b>User Management</b>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{url("fos_user_registration_register")}}">Sign Up</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{url("fos_user_security_login")}}">Log In</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{url("fos_user_security_logout")}}">Log Out</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{url("fos_user_profile_show")}}">My Profile</a>
                </div>
            </li>
        </ul>

        <form action="{{ url('searchParts') }}" method="GET" class="form-inline">
            <div class="form-goup">
                <input type="text" name="searchEnter" placeholder="Find products" class="form-control">
                <input type="submit" value="Search" class="btn btn-primary">
            </div>
        </form>

    </div>
</nav>


