{% extends 'base.html.twig' %}

{% block body %}
    {{ include('includes/navbar.html.twig') }}
    <br>
    <br>
    <br>
    {% if userLogIn != 'IsNotSet' %}
        <h5>Bine ai venit {{ userLogIn }} ---> <a href="{{ url('cartItems') }}">  Vezi cosul tau </a></h5>

    {% endif %}
    <h5 style="color:darkcyan;">Alegeti un producator din lista de mai jos</h5>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    {{ include('includes/footer.html.twig') }}
{% endblock %}
