{% extends 'base_invoice.html.twig' %}
{% set tva=19 %}

    {% block logo %}
        <img src="C:/xampp/htdocs/auto_amara/web/images/sigla.JPG" width="350" height="100">
    {% endblock %}
{% block invoice_details %}
    <p style="font-size: 80%">Factura nr. {{invoice.id}}</p>
    <p style="font-size: 80%">Seria: AUT</p>
    <p style="font-size: 80%">Data: 27-02-2019</p>
{% endblock %}
{% block company_details %}
    <h5>Factura</h5>
    <p style="font-size: 80%"><b>Furnizor:</b> SC AUTOAMARA SRL </p>
    <p style="font-size: 80%"><b>CIF:</b> RO1689653</p>
    <p style="font-size: 80%"><b>Cont:</b> RI81INGB000099991856398</p>
    <p style="font-size: 80%"><b>Sediul:</b> Strada A.I. Cuza, Nr. 25, Craiova</p>
    <p style="font-size: 80%"><b>Telefon:</b> 0789653218</p>
{% endblock %}
{% block buyer_details %}
    <p style="font-size: 80%"><b>Nume:</b> {{ invoice.order.delivery.name }} </p>
    <p style="font-size: 80%"><b>Prenume:</b> {{ invoice.order.delivery.surname }} </p>
    <p style="font-size: 80%"><b>Adresa:</b> {{ invoice.order.delivery.address }} </p>
    <p style="font-size: 80%"><b>Telefon:</b> {{ invoice.order.delivery.telephone }} </p>
{% endblock %}
{% block invoice_items %}
    {% set i=0 %}
    <tr>
        <td></td>
    </tr>
    {% for orderItem in invoice.Order.OrderItems %}
        {% set i=i+1 %}
       <tr style="font-size: 80%">
            <td align="center">
                {{ i }}
            </td>
           <td align="center">
               {{ orderItem.part.name }}
           </td>
           <td align="center">
               buc
           </td>
           <td align="center">
               {{ orderItem.quantity }}
           </td>
           <td align="center">
               {{ orderItem.price }}
           </td>
           <td align="center">
               {{ tva }}
           </td>
           <td align="center">
               {{ orderItem.quantity * orderItem.price }}
           </td>
           <td align="center">
               {{ orderItem.quantity * orderItem.price *tva/100}}
           </td>
        </tr>

    {% endfor %}
        {% set j=1 %}
        {% for j in range(1,13-i) %}
            {% set j=j+1 %}
            <tr>
                <td colspan="8">
                    <br>
                </td>
            </tr>
        {% endfor %}
{% endblock %}
{% block price_details %}
    <table>
        <tr><td></td></tr>
        <tr align="center">
            <td style="width: 30%">
                <b>TOTAL</b>
            </td>
            <td style="width: 40%">
                Valoare:{{ invoice.order.cart.totalPrice }}
            </td>
            <td style="width: 30%">
                TVA: {{ invoice.order.cart.totalPrice*tva/100 }}
            </td>
        </tr>
    </table>
{% endblock %}
{% block total_price %}
    {{ invoice.order.cart.totalPrice*(1+tva/100) }}
{% endblock %}
        {#<h6 style="color: red">Suma totala de plata este: {{ invoice.order.cart.totalPrice }} lei</h6>#}


        {#<h6><a href="{{ url('manufacturers') }}">Inapoi la producatori</a></h6>#}
        {#{{ include('includes/footer.html.twig') }}#}
    {#</div>#}





