{% extends 'base.html.twig' %}
{% block title %}
    {% if name=='daniel' %}
    Hello {{ name }}
    {% else %}
        Nu te cunosc!!!
    {% endif %}
{% endblock %}
{% block body %}
    <h1>Hello {{ name }}!!</h1>
    <a href="{{ url('hello',{"name":"Marius"}) }}">AAAAAA</a>
{% endblock %}
