{%  extends 'base.html.twig' %}
{% block title %}
    Cart Items
{% endblock %}
{% block body %}
    {{ include('includes/navbar.html.twig') }}
    <br>
    <br>
    <br>
    <h4>Piesele adaugate in cos sunt:</h4>
    <div align="center">
        <table width="800" border="1">
            <th style="text-align: center">Denumire piesa</th>
            <th style="text-align: center">Pret/buc</th>
            <th style="text-align: center">Cantiate</th>
            <th style="text-align: center">Valoare</th>
            <th style="text-align: center" width="200" colspan="2">Optiune</th>
            {% for cartitem in cart.CartItems %}
                <tr>
                    <td style="text-align: center" height="50">
                        {{ cartitem.part.name|capitalize}}
                    </td>
                    <td style="text-align: center" height="50" >
                        {{ cartitem.part.price }}
                    </td>
                    <td style="text-align: center" height="50">
                        {{ cartitem.quantity }}
                    </td>
                    <td style="text-align: center" height="50">
                        {{ cartitem.part.price * cartitem.quantity }}
                    </td>
                    <td style="text-align: center" height="50">
                        <form action="{{ url('updateQuantity',{'partId': cartitem.part.id }) }}" method="get">
                            <table>
                                <tr>
                                    <td>
                                        Cantitate
                                    </td>
                                    <td>
                                        <input name="quantity" value="{{ cartitem.quantity }}" type="number" min="1" step="1" max="100">
                                    </td>
                                    <td>
                                        <input name="update" type="submit" value="Modifica">
                                    </td>
                                </tr>
                            </table>

                        </form>
                    </td>
                    <td>
                        <form action="{{ url('deleteItem',{'partId': cartitem.part.id }) }}">
                            <input style="color:red;" name="delete" type="submit" value="X">
                        </form>
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan="4" style="text-align: center; background: #888888; color: red;" >
                    <b>TOTAL DE PLATA</b>
                </td>
                <td colspan="2" style="text-align: center; background: #888888; color: red" >
                    <b>{{ cart.TotalPrice }}</b>
                </td>
            </tr>
        </table>
    </div>

    <br>
    <br>

    {% if cart.TotalPrice>0  and userLogIn !='IsNotSet' %}

    <div style="margin-left: 20px">
    <form action="{{ url('showOrder') }}" method="get">
        <table>
            <tr>
                <th>
                    Nume
                </th>
                <td style="width: 500px" height="50">
                    <input name="name" type="text" value="Nume" style="width: 100%; height:100%" >
                </td>
              
            </tr>
            <tr>
                <th>
                    Prenume
                </th>
                <td style="width: 500px" height="50">
                    <input name="surname" type="text" value="Prenume" style="width: 100%; height:100%" >
                </td>
            </tr>
            <tr>
                <th>
                    Adresa
                </th>
                <td style="width: 500px" height="50">
                    <input name="address" type="text" value="Adresa, Strada, Numar, ...." style="width: 100%; height:100%" >
                </td>
            </tr>
            <tr>
                <th>
                    Telefon
                </th>
                <td style="width: 500px" height="50">
                    <input name="telephone" type="text" value="07XXXXXXXX" style="width: 100%; height:100%" >
                </td>
            </tr>
        </table>
        <br>
        <input name="order" type="submit" value="Comanda">
    </form>
    </div>

    <div style="margin-left: 20px">
    {% elseif userLogIn =='IsNotSet' %}
            <h5 style="color: red">Pentru a putea comanda trebuie sa fiti autentificat</h5>
            <a href="{{ url('fos_user_security_login') }}">Mergi la Autentificare</a>
        <br>
    {% else %}
        <h3 style="color: red">Nu aveti niciun produs in cos</h3>
    {% endif %}
    <br>
    {% if cart.CartItems is empty %}
        <a href="{{ url('manufacturers') }}"><b>Inapoi la producator</b></a>
    {% else %}
        <a href="{{ url('parts') }}"><b>Inapoi la piese</b></a>
    {% endif %}
    {{ include('includes/footer.html.twig') }}
    </div>
{% endblock %}

